* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100vh;
}

body {
    height: 100vh;
    background-image: url("../image/clear.jpg");
    background-size: cover;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 300px;
    height: 300px;
    border: rgba(0, 0, 0, 0.578) 3px solid;
    border-radius: 10px;
}

.header__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
}

.header__title__wrapper {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-shadow: 3px 2px rgba(43, 43, 43, 0.325);
}

main {
    width: 100%;
    height: 35%;
}

.todolist__service, .todolist__service__wrapper {
    height: 100%;
}

.service__wrapper__elements {
    height: calc(300px - 105px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#todo {
    width: 220px;
    height: 30px;
    background-color: #000000c1;
    border: 2px white solid;
    border-radius: 10px;
    text-indent: 23px;
    color: white;
}

.wrapper__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper__ul {
    width: 260px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px rgba(42, 42, 42, 0.789) solid;
    border-radius: 10px;
    overflow-x: visible;
}


#list li {
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

.pages {
    margin-top: 15px;
    position: absolute;
    top: 200px;
}

.pages span{
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    border: 2px rgba(255, 255, 255, 0.805) solid;
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
    padding: 2px;
}

#list {
    list-style: none;
}

#list li {
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

#list input {
    display: none;
}

.check {
    width: 15px;
    height: 15px;
    border: 1px black solid;
    border-radius: 3px;
    background-color: #e3e3e3c3;
    font-size: 10px;
    position: absolute;
    top: 2px;
    left: -20px;
}

.checked::after {
    display: block;
    position: absolute;
    content: "";
    width: 4px;
    height: 8px;
    border: solid black;
    border-width: 0px 2px 2px 0px;
    transform: rotate(40deg);
    top: 0px;
    left: 3.3113px;
}

.completed__todo {
    text-decoration: line-through;
    color: gray;
}