* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;
}

.header__title__wrapper {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main {
    width: 100%;
    height: 35%;
}

.todolist__service, .todolist__service__wrapper {
    height: 100%;
}

.service__wrapper__elements {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#todo {
    margin-bottom: 25px;
}

#list li {
    margin-bottom: 10px;
}